*.class
*.jar
*.log
*.out
*.swp
*.tsv
*.zip
CountTxsNonRingCT
CountTxsRingCTAll
FullyTracedTxs
InputKeysAll
PartiallyTracedTxs
SrcDestTxs*
Test.java
TracedInputs*
TxDates*
TxHashes*
TxInputs*
TxOutputs*
TxTs*
ZeroMixinTxns
h2/
temp
test
test.py
