*.bak
*.class
*.jar
*.log
*.out
*.sublime-*
*.swp
*.zip
AnonSetSizes*
CountTxsRingCTAll2
DestKeysRingCTFiltered
InputKeysAll
InputsReduced*
SrcDestTxsRingCTAll*
Test.java
TracedTxTypeMap
TracedTxVersionXmrInputs
commons-lang3-3.10/
h2/
temp
test
test.py
