*.class
*.jar
*.log
*.out
*.swp
*.tsv
*.zip
AnonSetSizes*
CountTxsNonRingCT
CountTxsRingCTAll
DestKeysRingCT
FullyTracedTxs
InputKeysAll
InputsReduced*
NewestBefore*
NewestGrouped*
NewestPost*
PartiallyTracedTxs
SrcDestTxs*
Test.java
TracedInputs*
TracedNewestHeuristic
h2/
temp
test
test.py
